logs/GomokuAI.java
logs/net.*
history/*.class
model/*.class
saves/*.class
saves/*.ser
tests/*.class
view/*.class
view/console/*.class
view/console/single/*.class
*.class
a.out
net/client/*.class
net/commands/*.class
net/commands/session/*.class
net/exe/*.class
net/interfaces/*.class
net/server/*.class
net/utils/*.class
